.vscode/**
.vscode-test/**
src/**
.gitignore
.eslintrc.json
tsconfig.json
**/*.map
**/*.ts
node_modules/**
!node_modules/vscode-languageclient/**
!node_modules/vscode-jsonrpc/**
!node_modules/vscode-languageserver-protocol/**
!node_modules/vscode-languageserver-types/**
!node_modules/semver/**
!node_modules/minimatch/**
!node_modules/lru-cache/**
!node_modules/yallist/**
!node_modules/brace-expansion/**
!node_modules/balanced-match/**
!node_modules/concat-map/**
.github/**
.ruff_cache/**
**/.ruff_cache/**
.pytest_cache/**
**/*.pyc
**/__pycache__/**
